@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');


body
{
    background-color: #0F1035;
}


.home-cards

{
    background-color: #DCF2F1;
}

/* complete nav styling */

#nav-style
{
    background-color: transparent;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

#nav-logo
{
    max-width: 140px;
    height: auto;
    margin-left: 5px;
    margin-right: 15px;
}

#nav-item-nav
{
    padding-left: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #0F1035;
    padding: 10px;
    font-weight: 400;
    font-size: medium;
}


@media only screen and (min-width: 1210px) {
    .navbar-expand-xl {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .home-heading {
        
        font-size: xx-large;
    }
    .home-para
{
    line-height: 20px;
}
}



/* Nav */



/* Home Page Banner Section */

.banner {
    position: relative;
    height: 50vh; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.banner-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}



.home-images
{
    background-color: #0F1035;
    
}

.home-para
{
    font-size: large;
    text-align: justify;
}

.home-heading
{
    text-align: justify;
    font-size: xx-large;
}


@media only screen and (min-width:990px) and (max-width:1150px)
{
    .home-images
    {
      margin-top: 3rem;
    }
}
/* Home Page Banner Section */


.home-card-btn
{
    background-color:#0F1035 ;
    color: #DCF2F1;
}