@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');


body
{
    background-color: #0F1035;
}


.home-cards

{
    background-color: #DCF2F1;
}



/* complete nav styling */

#nav-style
{
    background-color: transparent;
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
    
}

#nav-logo
{
    max-width: 140px;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}



.navbar-light .navbar-nav .nav-link {
    color: #0F1035;
    padding: 10px;
    font-weight: 400;
    font-size: medium;
}


.navbar-nav {
    padding-left: 150px;
    gap: 20px;
}

@media only screen and (min-width: 1210px) {
    .navbar-expand-xl {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .home-heading {
        
        font-size: xx-large;
    }
    .home-para
{
    font-size: larger;
}
}





a:hover
{
    border-bottom: 2px solid rgb(1, 6, 66);
}


/* Nav styling ends here */



/* Home Page Banner Section */

.banner {
    position: relative;
    height: 80vh; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin-top: 5rem;
    
}
.banner-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}



.home-images
{
    background-color: #0F1035;
    
}

.home-para
{
    font-size: medium;
    text-align: justify;
    font-weight: 500;
}


.home-heading
{
    text-align: justify;
    font-size: x-large; 
    text-decoration: underline;
    font-weight: 700;
}

@media only screen and (min-width:768px)
{
    .home-heading
{
    
    font-size: xx-large; 
    text-decoration: underline;
}

.home-para
{
    font-size:large;
   
}

}


@media only screen and (min-width:990px) and (max-width:1150px)
{
    .home-images
    {
      margin-top: 3rem;
    }
}
/* Home Page Banner Section */


.home-card-btn
{
    background-color:#0F1035 ;
    color: #DCF2F1;
}


/* Home and about ends */





/* Careers In DCIM Section styling Starts */

.opportunities-box
{
            background: #DCF2F1; /* Transparent white background */
            backdrop-filter: blur(10px); /* Apply blur effect */
            border-radius: 10px;
            color: #0F1035;
            font-weight: 600;
            text-align: center;
            box-shadow: rgba(54, 54, 54, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            margin-top: 4rem;
            line-height: 30px;
}


.opportunities-box:hover

{
        background-color: #FFEAE3;
}


.circular-img
{
    border-radius: 50%;
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
}


.opportunities-box ul li
{

    padding: 5px;
    margin-left: 3px;
    line-height: 30px;
    
}


/* Special container */


.big-container
{
    background-color: #7FC7D9; 
    padding: 20px; 
    margin-top: 50px;
    margin-bottom: 50px;
}


::selection
{
    background-color:#0F1035;
    color: #0F1035;
}
/* Carees in DCIM styling done */


/* DCIM COMMUNITY Section */

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-top: 2.5rem;
  }
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* DCIM community Sction */

