@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');



.sedan-regular {
 font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}


        body {
            margin: 0;
 
            background-color: #fff;
            font-family: "Sedan", serif;
  font-weight: 600;
  font-style: normal;
        }

        a {
            text-decoration: none;
        }

       

      
        
/* -----------Navbar Section Styling------------------------ */

        

.navbar {
    background-color: rgba(24, 139, 247, 0.671); /* Adjust the alpha value (opacity) to control transparency */
  background-image: linear-gradient(rgba(255, 255, 255, 0.596), rgba(255, 255, 255, 0.397)); /* Add a subtle gradient */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a shadow to create depth */
  padding: 10px 80px;
  margin:10px 0 ;
  display: flex;
  justify-content:space-between;
  align-items:center;
  font-weight: 400;
  color: black;

}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

 
}

.nav-item {
  margin-right: 10px; /* Adjust spacing between navbar items */
  position: relative;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 14px; /* Reduce font size for navbar items */
  padding: 8px; /* Adjust padding */
  list-style-type: none;
  
}

.dropdown-menu {
 display: none;
 position: absolute;
 border-radius: 10px;
 font-size:small;
 width: 260px;
 padding: 10px;
 top: calc(100% + 5px);
 left: 0;
 z-index: 1000;
 list-style-type: none;
 background-color: rgb(226, 226, 226);
  /* Adjust the alpha value (opacity) to control transparency */  
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}

.dropdown-menu li {
  margin-bottom: 5px;
  
  color: rgb(10, 10, 10);
}
.dropdown-menu li a{
    color: rgb(12, 12, 12);
}
.nav-item:hover .dropdown-menu {
  display: block;
  /* border-radius: 50px; */
}

.menu-icon {
  display: none;
  color: #0a0a0a;
  font-size: 1.5em;
  cursor: pointer;
}

@media screen and (max-width: 1110px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    row-gap: 20px;
    background-color: rgba(58, 156, 248, 0.671); /* Adjust the alpha value (opacity) to control transparency */
  background-image: linear-gradient(rgba(255, 255, 255, 0.596), rgba(255, 255, 255, 0.397)); /* Add a subtle gradient */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a shadow to create depth */
    padding: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
    /* border-radius: 10px; */
  }

  .navbar-nav.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
